# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
LICENSE.txt
.gitattributes
CREDITS.txt
changelog.txt
src/generated/resources/.cache
repo

# Files from Forge MDK
forge*changelog.txt
